In [25]:
import numpy as np
import pandas as pd
import cv2
import pytesseract
from glob import glob
import spacy
import re
import string

In [26]:

def cleanText(txt):
    whitespace = string.whitespace
    punctuation = '!#$%&\'()*+-:;<=>?[\\]^`{|}~'
    tableWhitespace = str.maketrans('','', whitespace)
    tablePunctuation = str.maketrans('', '', punctuation)
    text = str(txt)
    text = text.lower()
    removewhitespace = text.translate(tableWhitespace)
    removepunctuation = removewhitespace.translate(tablePunctuation)

    return str(removepunctuation)

In [27]:
### Load NER Model
model_ner = spacy.load('./output/model-best/')

In [28]:
# Load Image
image = cv2.imread('./data/041.jpeg')

# cv2.imshow('businessCard', image)
# cv2.waitKey(0)
# cv2.destroyAllWindows

# extract data using PyTesseract
tessData = pytesseract.image_to_data(image)
tessData

# convert into dataframe
tessList = list(map(lambda x: x.split('\t'),tessData.split('\n')))
df = pd.DataFrame(tessList[1:], columns=tessList[0])
df.dropna(inplace=True)
df['text'] = df['text'].apply(cleanText)

# convert data into content
df_clean = df.query('text != "" ')
content = " ".join([w for w in df_clean['text']])
# print(content)


# get predictions from NER model
doc = model_ner(content)

In [33]:
from spacy import displacy

In [34]:
# displacy.serve(doc, style='ent')

In [35]:
displacy.render(doc, style='ent')

In [36]:
### Tagging

In [38]:
docjson = doc.to_json()
docjson.keys()

dict_keys(['text', 'ents', 'tokens'])

In [41]:
doc_text = docjson['text']
doc_text

'cell 8099948528 g2 8466045457 email lictsrikant@gmail.com life insurance corporation of india seosrika ntht@gmail â€œcom thathineni srikanth insurance advisor agent code no. 0316164y life insurance corporation of india br. off. lic office, trimulgherry, secâ€™bad 500 016. add. borabanda, hyderabad 500 018. lictsrikant8099948528.blogspot.in, interviewsinhyderabad.blogspot.in facebook.com/lictsrikant8099948528, facebook.com/thathineni.srikanth.9 promote your business online pybo'

In [46]:
datafram_tokens = pd.DataFrame(docjson['tokens'])
datafram_tokens['token'] = datafram_tokens[['start', 'end']].apply(
    lambda x: doc_text[x[0]:x[1]], axis = 1
)

datafram_tokens.head(10)

C:\Users\136484\AppData\Local\Temp\ipykernel_21880\317648434.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lambda x: doc_text[x[0]:x[1]], axis = 1

   id  start  end                  token
0   0      0    4                   cell
1   1      5   15             8099948528
2   2     16   18                     g2
3   3     19   29             8466045457
4   4     30   35                  email
5   5     36   57  lictsrikant@gmail.com
6   6     58   62                   life
7   7     63   72              insurance
8   8     73   84            corporation
9   9     85   87                     of

In [51]:
right_table = pd.DataFrame(docjson['ents'])[['start', 'label']]
datafram_tokens = pd.merge(datafram_tokens, right_table, how='left', on='start')

In [53]:
datafram_tokens.fillna('O', inplace=True)
datafram_tokens.head(10)

   id  start  end                  token    label
0   0      0    4                   cell        O
1   1      5   15             8099948528  B-PHONE
2   2     16   18                     g2        O
3   3     19   29             8466045457  B-PHONE
4   4     30   35                  email        O
5   5     36   57  lictsrikant@gmail.com  B-EMAIL
6   6     58   62                   life    B-ORG
7   7     63   72              insurance    I-ORG
8   8     73   84            corporation    I-ORG
9   9     85   87                     of    I-ORG

In [60]:
# join label to df_clean dataframe
df_clean['end'] = df_clean['text'].apply(lambda x: len(x)+1).cumsum() - 1
df_clean['start'] = df_clean[['text', 'end']].apply(lambda x: x[1] - len(x[0]), axis = 1)

C:\Users\136484\AppData\Local\Temp\ipykernel_21880\2401491854.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['end'] = df_clean['text'].apply(lambda x: len(x)+1).cumsum() - 1
C:\Users\136484\AppData\Local\Temp\ipykernel_21880\2401491854.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_clean['start'] = df_clean[['text', 'end']].apply(lambda x: x[1] - len(x[0]), axis = 1)
C:\Users\136484\AppData\Local\Temp\ipykernel_21880\2401491854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['start'] = df_clean[['text', 'end']].apply(lambda x: x[1] - len(x[0]), axis = 1)

In [62]:
# inner join with start
dataframe_info = pd.merge(df_clean, datafram_tokens[['start', 'token', 'label']], how='inner', on='start')

In [67]:
dataframe_info.tail(10)

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,token,label
39,5,1,6,3,1,6,495,474,53,22,95.485550,018.,303,299,018,O
40,5,1,6,3,2,1,46,506,430,27,83.094940,"lictsrikant8099948528.blogspot.in,",338,304,lictsrikant8099948528.blogspot.in,O
41,5,1,6,3,2,2,488,506,429,27,88.122208,interviewsinhyderabad.blogspot.in,372,339,interviewsinhyderabad.blogspot.in,B-WEB
42,5,1,6,3,3,1,44,539,472,25,88.884369,"facebook.com/lictsrikant8099948528,",408,373,facebook.com/lictsrikant8099948528,O
43,5,1,6,3,3,2,526,539,443,21,91.430847,facebook.com/thathineni.srikanth.9,443,409,facebook.com/thathineni.srikanth.9,O
44,5,1,6,3,4,1,46,571,106,21,96.386932,promote,451,444,promote,O
45,5,1,6,3,4,2,161,576,56,22,96.813004,your,456,452,your,O
46,5,1,6,3,4,3,226,571,111,21,96.439957,business,465,457,business,O
47,5,1,6,3,4,4,347,571,74,21,93.266945,online,472,466,online,O
48,5,1,6,3,4,5,432,571,97,27,92.782974,pybo,477,473,pybo,O

### Bounding Box

In [70]:
bb_df = dataframe_info.query("label !='O'")
img = image.copy()

for x,y,w,h,label in bb_df[['left', 'top', 'width', 'height', 'label']].values:
    x = int(x)
    y = int(y)
    w = int(w)
    h = int(h)

    cv2.rectangle(img,(x,y), (x+w, y+h), (0, 255, 0), 2)
    cv2.putText(img, str(label), (x,y), cv2.FONT_HERSHEY_PLAIN, 1, (255, 0, 255), 2)

cv2.imshow('Predictions', img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [71]:
bb_df['label'] = bb_df['label'].apply(lambda x: x[2:])
bb_df.head()

C:\Users\136484\AppData\Local\Temp\ipykernel_21880\2854881843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df['label'] = bb_df['label'].apply(lambda x: x[2:])

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,token,label
1,5,1,3,1,1,3,822,53,203,28,96.606537,8099948528,15,5,8099948528,PHONE
3,5,1,3,2,1,2,822,95,203,28,96.438461,8466045457,29,19,8466045457,PHONE
5,5,1,3,2,2,3,709,136,316,31,88.662399,lictsrikant@gmail.com,57,36,lictsrikant@gmail.com,EMAIL
6,5,1,3,3,1,1,46,170,33,14,96.542465,life,62,58,life,ORG
7,5,1,3,3,1,2,85,151,92,42,92.259232,insurance,72,63,insurance,ORG

In [80]:
#group the label
class groupgen():
    def __init__(self):
        self.id = 0
        self.text = ''

    def getgroup(self, text):
        if self.text == text:
            return self.id
        else:
            self.id += 1
            self.text = text
            return self.id
grp_gen = groupgen()

In [81]:
bb_df['group'] = bb_df['label'].apply(grp_gen.getgroup)

C:\Users\136484\AppData\Local\Temp\ipykernel_21880\472836701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df['group'] = bb_df['label'].apply(grp_gen.getgroup)

In [82]:
# right and bottom of bounding box
bb_df[['left', 'top', 'width', 'height']] = bb_df[['left', 'top', 'width', 'height']].astype(int)
bb_df['right'] = bb_df['left'] + bb_df['width']
bb_df['bottom'] = bb_df['top'] + bb_df['height']

C:\Users\136484\AppData\Local\Temp\ipykernel_21880\3100329007.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df[['left', 'top', 'width', 'height']] = bb_df[['left', 'top', 'width', 'height']].astype(int)
C:\Users\136484\AppData\Local\Temp\ipykernel_21880\3100329007.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df['right'] = bb_df['left'] + bb_df['width']
C:\Users\136484\AppData\Local\Temp\ipykernel_21880\3100329007.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df['bottom'] = bb_df['top'] + bb_df['height']

In [83]:
bb_df

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,token,label,group,right,bottom
1,5,1,3,1,1,3,822,53,203,28,96.606537,8099948528,15,5,8099948528,PHONE,1,1025,81
3,5,1,3,2,1,2,822,95,203,28,96.438461,8466045457,29,19,8466045457,PHONE,1,1025,123
5,5,1,3,2,2,3,709,136,316,31,88.662399,lictsrikant@gmail.com,57,36,lictsrikant@gmail.com,EMAIL,2,1025,167
6,5,1,3,3,1,1,46,170,33,14,96.542465,life,62,58,life,ORG,3,79,184
7,5,1,3,3,1,2,85,151,92,42,92.259232,insurance,72,63,insurance,ORG,3,177,193
8,5,1,3,3,1,3,183,170,117,14,96.522820,corporation,84,73,corporation,ORG,3,300,184
9,5,1,3,3,1,4,306,170,20,14,96.119629,of,87,85,of,ORG,3,326,184
10,5,1,3,3,1,5,332,170,42,14,96.119629,india,93,88,india,ORG,3,374,184
11,5,1,3,3,1,6,667,166,120,37,92.730202,seosrika,102,94,seosrika,EMAIL,4,787,203
12,5,1,3,3,1,7,791,165,162,44,91.439003,ntht@gmail,113,103,ntht@gmail,EMAIL,4,953,209
13,5,1,3,3,1,8,958,180,67,19,32.106407,â€œcom,118,114,â€œ,EMAIL,4,1025,199
14,5,1,4,1,1,1,310,228,232,30,91.334854,thathineni,129,119,thathineni,NAME,5,542,258
15,5,1,4,1,1,2,557,228,198,31,96.660568,srikanth,138,130,srikanth,NAME,5,755,259
16,5,1,5,1,1,1,400,271,146,25,96.407158,insurance,148,139,insurance,DES,6,546,296
17,5,1,5,1,1,2,555,271,114,25,96.471764,advisor,156,149,advisor,DES,6,669,296
22,5,1,6,1,1,1,47,396,83,30,96.858788,life,185,181,life,ORG,7,130,426
23,5,1,6,1,1,2,145,396,236,31,96.246681,insurance,195,186,insurance,ORG,7,381,427
24,5,1,6,1,1,3,395,395,296,32,96.246681,corporation,207,196,corporation,ORG,7,691,427
25,5,1,6,1,1,4,706,395,53,32,95.376335,of,210,208,of,ORG,7,759,427
26,5,1,6,1,1,5,775,396,107,30,96.227684,india,216,211,india,ORG,7,882,426
41,5,1,6,3,2,2,488,506,429,27,88.122208,interviewsinhyderabad.blogspot.in,372,339,interviewsinhyderabad.blogspot.in,WEB,8,917,533

In [84]:
# tagging: groupby group
col_group = ['left', 'top', 'right', 'bottom', 'label', 'token', 'group']
group_tag_img = bb_df[col_group].groupby(by='group')

In [85]:
img_tagging = group_tag_img.agg({
    'left':min,
    'right':max,
    'top':min,
    'bottom':max,
    'label':np.unique,
    'token':lambda x: " ".join(x)
})

C:\Users\136484\AppData\Local\Temp\ipykernel_21880\514747924.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  img_tagging = group_tag_img.agg({
C:\Users\136484\AppData\Local\Temp\ipykernel_21880\514747924.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  img_tagging = group_tag_img.agg({

In [86]:
img_tagging

       left  right  top  bottom    label                                token
group
1       822   1025   53     123  [PHONE]                8099948528 8466045457
2       709   1025  136     167  [EMAIL]                lictsrikant@gmail.com
3        46    374  151     193    [ORG]  life insurance corporation of india
4       667   1025  165     209  [EMAIL]                seosrika ntht@gmail â€œ
5       310    755  228     259   [NAME]                  thathineni srikanth
6       400    669  271     296    [DES]                    insurance advisor
7        47    882  395     427    [ORG]  life insurance corporation of india
8       488    917  506     533    [WEB]    interviewsinhyderabad.blogspot.in

In [91]:
img_bb = image.copy()
for l,r,t,b,label,token in img_tagging.values:
    label = str(label)
    cv2.rectangle(img_bb, (l, t), (r,b), (0, 255, 0), 2)
    cv2.putText(img_bb, label, (l,t), cv2.FONT_HERSHEY_PLAIN, 1, (255, 0, 255), 2)

cv2.imshow("Bounding Box BusinessCard", img_bb)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [92]:
### PARSER

In [123]:
def parser(text, label):
    if label == 'PHONE':
        text = text.lower()
        text = re.sub(r'\D','',text)
        
    elif label == 'EMAIL':
        text = text.lower()
        allow_special_chars = '@_.\-'
        text = re.sub(r'[^A-Za-z0-9{} ]'.format(allow_special_chars), '', text)

    elif label == 'WEB':
        text = text.lower()
        allow_special_chars = ':/.%#\-'
        text = re.sub(r'[^A-Za-z0-9{} ]'.format(allow_special_chars), '', text)

    elif label in ('NAME', 'DES'):
        text = text.lower()
        text = re.sub(r'[^a-z ]', '', text)
        text = text.title()

    elif label == 'ORG':
        text = text.lower()
        text = re.sub(r'[^a-z0-9 ]', '', text)
        text = text.title()
    return text

In [124]:
parser('Srikanth)&#$@gmail.COM', 'WEB')

'srikanth#gmail.com'

In [119]:
### ENTITIES

In [125]:
info_array = dataframe_info[['token', 'label']].values
entities = dict(NAME=[],ORG=[],DES=[],PHONE=[],EMAIL=[],WEB=[])
previous = 'O'

for token, label in info_array:
    bio_tag = label[:1]
    label_tag = label[2:]

    # step-1 - parse the token
    text = parser(token, label_tag)

    if bio_tag in ('B', 'I'):
        if previous != label_tag:
            entities[label_tag].append(text)
        
        else:
            if bio_tag == "B":
                entities[label_tag].append(text)
    
            else:
                if label_tag in ("NAME", "ORG", "DES"):
                    entities[label_tag][-1] = entities[label_tag][-1] + " " + text
    
                else:
                    entities[label_tag][-1] = entities[label_tag][-1] + text

    previous = label_tag

In [127]:
entities

{'NAME': ['Thathineni Srikanth'],
 'ORG': ['Life Insurance Corporation Of India',
  'Life Insurance Corporation Of India'],
 'DES': ['Insurance Advisor'],
 'PHONE': ['8099948528', '8466045457'],
 'EMAIL': ['lictsrikant@gmail.com', 'seosrikantht@gmail'],
 'WEB': ['interviewsinhyderabad.blogspot.in']}